# Auto detect text files and perform LF normalization
* text=auto
* text=auto

android/** linguist-vendored
ios/** linguist-vendored
linux/** linguist-vendored
macos/** linguist-vendored
windows/** linguist-vendored